@import '../../styles/variables.scss';

.header {
  background-color: $gray;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  background: $dark-gray;
  color: white;
  padding: 5px;
  padding-left: 15px;
  & input {
    background: transparent;
    box-sizing: border-box;
    padding: 7px 10px 7px 35px;
    border: none;
    background: none;
    color: #fff;
    outline: none;
    width: 60vw;
  }
}
